{:deps
 {;; org.clojure/tools.reader {:mvn/version "1.1.1"}
  ;; http-kit/http-kit {;; :git/url "https://github.com/http-kit/http-kit.git", 
  ;;                    :mvn/version "2.4.0"}
  ;; github-sally/awesome {:git/url "https://github.com/sally/awesome.git", :sha "123abcd549214b5cba04002b6875bdf59f9d88b6"}
  ;; ... add more here

  http-kit {:mvn/version "2.4.0"}}}
